<%- include header %>
<form method="post">
  Title：<br />
  <input type="text" name="title" /><br />
  Body：(use MarkDown to write)<br />
  <textarea name="post" rows="20" cols="100"></textarea><br />
  use "![](/images/yourfile)" to insert image to your blog.<br /><br />
  <input type="submit" value="post" /> 
</form>
<%- include footer %>