<%- include header %>
<form method="post">
  UserName：  <input type="text" name="name"/><br />
  Password：    <input type="password" name="password"/><br />
  Password confirm：<input type="password" name="password-repeat"/><br />
  EmailAdd：    <input type="email" name="email"/><br />
           <input type="submit" value="Register"/>
</form>
<%- include footer %>